body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
#container{
    height: 80%;
}

/* Header */
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li{
    float: left;
    width: 25%;
}
header ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 16px;
}
header li a.active{
    background-color: #e6e6e6;
}
header li a:hover{
    background-color: #e6e6e6;
}

/* Menu */
aside{
    width: 25%;
    float: left;
    margin-top: 15px;
    border: 2px solid black;
    box-sizing: border-box; /* Include padding and border in the element's total width and height, damit es auch tatsächlich 25% breit ist */
}
aside ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
aside ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 16px;
}
aside ul li a.active{
    background-color: #e6e6e6;
    border-top: solid black;
    border-bottom: solid black;
}
aside ul li a:hover{
    background-color: #e6e6e6;
}

/* Main */
main{
    float: right;
    margin-top: 15px;
    padding: 30px;
    width: 75%;
    height: 700px;
    border: 1px solid black;
    box-sizing: border-box; /* Include padding and border in the element's total width and height, damit es auch tatsächlich 75% breit ist */
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0097fb;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}
footer li {
    float: left;
    width: calc(100% / 3);
}
footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer li a:hover:not(.active) {
    background-color: blue;
}
footer li a.active {
    color: blue;
    border-bottom: solid blue;
}